n8n_workflow.json
{
  "name": "pleny_test",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -752,
        -48
      ],
      "id": "7e2c9e4e-0828-4c19-a49b-8e518280cee7",
      "name": "Schedule Trigger",
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "https://dummyjson.com/ges",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -528,
        -48
      ],
      "id": "40bc1ff4-aa77-4c22-a53b-cd59d18d7b5d",
      "name": "HTTP Request",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "notesInFlow": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "users",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        48,
        -160
      ],
      "id": "c39c670a-d433-43db-ab99-c2eae7b4de41",
      "name": "Split Out"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        256,
        -160
      ],
      "id": "cf4ad229-67e7-4c5b-97cb-19517a894bda",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5daeff7-3878-4254-87aa-5c8815442626",
              "name": "full_name",
              "value": "={{ $json.firstName }} {{ $json.lastName }}",
              "type": "string"
            },
            {
              "id": "54542329-4d5a-433d-973f-ee12593b76a5",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "c22651f4-cd10-4260-a860-9418d9c5745f",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "65405259-02b0-4d0b-9464-dcb201f80ead",
              "name": "company.name",
              "value": "={{ $json.company.name }}",
              "type": "string"
            },
            {
              "id": "437539ae-0a2c-4869-96f5-64096e899b4e",
              "name": "processed_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "4cc906e8-bf81-440b-a9e9-a6e2c476c70b",
              "name": "age",
              "value": "={{ $json.age }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -160
      ],
      "id": "ec63217b-e3a1-4780-9ca5-3287db964b2b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4d613adb-488c-4287-9c7f-ccd0dc96e837",
              "leftValue": "={{ $json.email }}",
              "rightValue": "json.com",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        624,
        -160
      ],
      "id": "3c95c7ea-f143-483e-931c-5b142c4b5370",
      "name": "Filter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/3e9606e5-0947-48b3-855b-4f5efb6f89ef",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=full_name",
              "value": "={{ $json.full_name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "company",
              "value": "={{ $json.company }}"
            },
            {
              "name": "processed_at",
              "value": "={{ $json.processed_at }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1168,
        -320
      ],
      "id": "830c3ac6-5ca6-41e4-98ad-f3fe0a578169",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/3e9606e5-0947-48b3-855b-4f5efb6f89ef",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "Error"
            },
            {
              "name": "message",
              "value": "={{ $json.error.message }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO()}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -352,
        288
      ],
      "id": "fd07c68a-e1b3-4d9a-8385-15437cddd0fb",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "551f2ed4-71b4-4294-b7c0-4aa87cfccc68",
              "leftValue": "={{ $json.users.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -256,
        -144
      ],
      "id": "5eaaf4d4-f71a-41ff-a8d9-ac86d8c321b6",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/61442415-f632-4b68-b180-a318d2121426",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"Warning\",\n  \"message\": \"The user list is empty\",\n  \"timestamp\": \"{{ $now.toISOString() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        272
      ],
      "id": "08da7b48-6a9a-4631-895e-80e00de53fee",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.age }}",
                    "rightValue": 30,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    },
                    "id": "28a66da5-3f36-4226-a791-f0c6c12c461d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Junior"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "031a506e-e237-481d-9012-f1b4757cd8b7",
                    "leftValue": "={{ $json.age }}",
                    "rightValue": 40,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mid-Career"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c6e03923-fba7-4b05-86f6-ac56b4040df9",
                    "leftValue": "={{ $json.age }}",
                    "rightValue": 40,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Senior"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        832,
        -176
      ],
      "id": "6188c365-57fc-419f-9683-5427ff5b9f30",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1fxnl5U7X5GkvZD__meNQTRLVv78xT8VqnR4xFRSwiSo",
          "mode": "list",
          "cachedResultName": "Mid-Career Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fxnl5U7X5GkvZD__meNQTRLVv78xT8VqnR4xFRSwiSo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 618755395,
          "mode": "list",
          "cachedResultName": "test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fxnl5U7X5GkvZD__meNQTRLVv78xT8VqnR4xFRSwiSo/edit#gid=618755395"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "full_name": "={{ $json.full_name }}",
            "email": "={{ $json.email }}",
            "phone": "='{{ $json.phone }}",
            "company": "={{ $json.company }}",
            "processed_at": "={{ $json.processed_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1152,
        -80
      ],
      "id": "40ccf50b-8bee-46fd-b4e5-e0e497c151d2",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KxV8DWPe4CIz3O3R",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/9eb7bbc6-d85c-416b-b662-85394a8a5070",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=full_name",
              "value": "={{ $json.full_name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "company",
              "value": "={{ $json.company }}"
            },
            {
              "name": "processed_at",
              "value": "={{ $json.processed_at }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1152,
        128
      ],
      "id": "906cbafe-76fa-4304-9afc-b4844b972dd8",
      "name": "HTTP Request4"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "32cb2341-aaff-4370-b768-e0157ff16161",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "341b90c7e1c53621896881f9063ffd4375bf231035add97c14b81052c1696e6d"
  },
  "id": "CD5v8gN9iT4koDHb",
  "tags": []
}